@import "tailwindcss";

@theme inline {
  /* color */
  --color-black: #010205;
  --color-primary-400: #014fcc;
  --color-primary-500: #002868;
  --color-primary-600: #0f3676;
  --color-tertiary-500: #fce38a;
  --color-secondary-200: #f2f3f3;
  --color-secondary-400: #05131db2;
  --color-white: #ffffff;

  /* font */
  --font-manrope: var(--font-manrope);
  --font-lato: var(--font-lato);
  --font-questrail: var(--font-questrail);
  --font-plus_jakarta_sans: var(--font-plus_jakarta_sans);
  --font-poppins: var(--font-poppins);
  --font-geist: var(--font-geist);

  /* shadow */
  --shadow-custom: rgba(0, 0, 0, 0.3) 15.57px 16.69px 20.47px;
}
@layer base {
  * {
    @apply p-0 m-0 scroll-smooth;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #c0b9b9;
    border-radius: 6px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #7e7e7e;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-baseline {
    @apply flex items-baseline;
  }

  .flex-between {
    @apply flex justify-between;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }
  .flex-column {
    @apply flex flex-col;
  }
  .grid-center {
    @apply grid justify-center;
  }
  .container {
    @apply max-w-[1440px] mx-auto w-full px-[24px] md:px-[40px];
  }

  .h3-semibold {
    @apply text-[18px] font-semibold;
  }
  .h3-normal {
    @apply text-[18px];
  }
  .h3-bold {
    @apply text-[18px] font-bold;
  }
  .h5-normal {
    @apply text-[14px];
  }
  .h5-semibold {
    @apply text-[14px] font-semibold;
  }
}
